.About{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: left;
    align-items: center;
    
}
.Bio-Container{
    text-align: left;
    width: 60vw;
    font-size: 40px;
    margin: 300px 60px;
    color: #fff;
    font-size: 3.5rem;
}
.Bio-Container>p{
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 20px;
}