.Contact{
    display: flex;
    height: auto;
    padding: 20px;
    color: white;
    flex-direction: column;
    text-align: left;
    align-items: center;
}
.contact-small{
    background-color: black;
    width: 300px;
}
.contact-big{
    color: black;
    background-color: black;
    width: 900px;
    color: white;
    resize: none;
}
.contact-submit{
    color: white;
    display: flex;
}