.Skills{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
    padding: 0 20px
}
.Skills-Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
    height: 60vh;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin: 0 20px;
}
img{
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 100px;
    margin: 20px;
    object-fit: fill;
}
.img-container{
    width: 7vw;
    margin: 10px;
}
